<!DOCTYPE HTML>
<html>
	<head>
		<title>SocialDocs</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="main.css" />
	</head>
	<body>
		<div class="nav-bar">
			<div class="name"><a href="/">SocialDocs</a></div>
			<div class="links">
				<a href="/chat">Chat</a><br />
				<a href="https://twitter.com" class="feedb" target="_blank">Feedback</a><br />
				<a href="/">About</a>
			</div>
		</div>
		<section id="intro">
			<div class="inner">
				<h1>This is the about page.</h1>
			</div>
		</section>
	</body>
</html>