<!DOCTYPE html>
<html>
	<head>
		<title>asocialpage</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
		<link rel="stylesheet" href="main.css" />
	</head>

	<body>
		<div class="nav-bar">
			<div class="name"><a href="/">asocialpage</a></div>
			<div class="links">
				<a href="/chat">Chat</a><br />
				<a href="https://twitter.com/asocialpage" class="feedb" target="_blank">Feedback</a><br />
				<a href="/about">About</a>
			</div>
		</div>

		<div class="about-container" id="about">
			<div class="aboutText">
				<h1>About Us</h1>
				<p><strong>Goal </strong>- We believe the true form of socializing happens face to face,
					through conversation. With everyone even more isolated during current times, we wanted to 
					create an app that would bring people closer together. While the closest substitute to an actual
					conversation is only a artificial imitation (for example video calls), we wanted to created a new
					 way of simulating conversation through texting.</p>
				<p><strong>What asocial does </strong>- We created a chat app where the user can click anywhere
					on the screen to start typing for everyone else to see. In order to emulate real life
					conversations, every keystroke is immediately sent to everyone, and every message will dissapear
					5 seconds after typing.</p>
				<p>Yours,<br> An extremely bored UoE undergrad</p>
			</div>
			<div class="contacts">
				<p style="text-align: center;"><strong>Contact Us:</strong><br></p>
				<a href="https://twitter.com/asocialpage">Twitter</a> <br>
				<a href="https://www.instagram.com/a.socialpage/">Instagram</a>
			</div>
		</div>
	</body>
</html>
