<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" const="text/html;charset=UTF-8" user-scalable="no"/>
    <link rel="stylesheet" type="text/css" href="style.css" >
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <meta charset="utf-8">
    <title>socialdocs</title>
  </head>

  <body>
    <div class="nav-bar">
			<div class="name"><a href="/">SocialDocs</a></div>
			<div class="links">
				<a href="/chat">Chat</a><br />
				<a href="https://twitter.com" class="feedb" target="_blank">Feedback</a><br />
				<a href="/about">About</a>
			</div>
		</div>
    <ul class="pages">
      <li class="chat page">
        <header>
          <h1></h1>
        </header>

        <p id="intromsg">Welcome! Drag around and click anywhere to type</p>

        <span class="usersOnline">
          <ul class="online">
            <li>People Online:</li>
          </ul>
          <ul class="messages"></ul>
        </span>
      </li>
      <li class="login page">
        <div class="form">
          <h3 class="title">Enter username:</h3>
          <input class="usernameInput" type="text" maxlength="14" />
          <p id="usernameTaken">This username has been taken</p>
          <p id="noSpace">Username cannot contain spaces</p>
        </div>
      </li>
    </ul>

    <script src="https://code.jquery.com/jquery.min.js"></script>
    <script src="nicescroll.js"></script>
    <script src="chat.js"></script>
  </body>
</html>