<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" const="text/html;charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="style.css" >
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <meta charset="utf-8">
    <title>socialdocs v2</title>
  </head>

  <body>
    <ul class="pages">
      <li class="chat page">
        <header>
          <h1>Social Docs V2</h1>
        </header>

        <span class="usersOnline">
          <ul class="online">
            <li>People Online:</li>
          </ul>
          <ul class="messages"></ul>
        </span>
      </li>
      <li class="login page">
        <div class="form">
          <h3 class="title">What's your name?</h3>
          <input class="usernameInput" type="text" maxlength="14" />
        </div>
      </li>
    </ul>

    <script src="https://code.jquery.com/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.7.6/jquery.nicescroll.min.js"></script>
    <script src="chat.js"></script>
  </body>
</html>