<!DOCTYPE HTML>
<html>
	<head>
		<title>SocialDocs</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="mainpage.css" />
	</head>
	<body>
			<header>
				<div class="name"><a href="index.html">SocialDocs</a></div>
				<a href="https://twitter.com" class="feedb"><span>Send Feedback</span></a>
			</header>

			<section id="intro">
				<div class="inner">
					<h1>Welcome To <br/> SocialDocs</h1>
					<p class="line-1 anim-typewriter">The purest implementation of real-time chat<br />
					</p>
					<a href="https://bbc.com">Start Chatting</a>
				</div>
			</section>
	</body>
</html>