@import url("https://fonts.googleapis.com/css?family=Taviraj:300,400,700,300i,400i,700i");

	html, body, h1 {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}

	html {
		font-size: 11pt;
	}

	body {
		font-family: "Taviraj", serif;
		font-weight: 300;
		font-size: 1rem;
		line-height: 1.65;
	}

	a {
		text-decoration: none;
		color: black;
	}

	.name {
		font-size: 1.25rem;
		color: rgb(255, 20, 20);
		text-decoration: none;
		font-weight: 500;
	}

	/* The sidebar menu */
	.nav-bar {
		width: 130px;
		position: fixed;
		z-index: 1;
		top: 0px;
		left: 10px;
		background: rgba(255, 255, 255, 0);
		overflow-x: hidden;
		padding: 15px 15px;
	}

	.nav-bar a:hover {
		font-weight: 500;
	}


	#about {
		background-color: #f2f2f2;
		height: 100vh;
		position: relative;
		overflow: hidden;
	}

	.aboutText {
		margin-top: 30vh;
		margin-left: 25vw;
		margin-right: 25vw;
		margin-bottom: 5vh;
		text-align: center;
		justify-content: center;
		align-items: center;
	}

	.aboutText h1 {
		font-size: 2rem;
		margin-bottom: 2rem;
		color: rgb(0, 0, 0);
		border-bottom: 1px solid #CCCCCC;
	}

	.aboutText p {
		text-align: left;
	}

	.contacts {
		text-align: center;
		justify-content: center;
		align-items: center;
	}

	.contacts a {
		color: rgb(38, 167, 76);
	}


	/* intro */

	#intro {
		align-items: center;
		display: flex;
		justify-content: center;
		background-color: #f2f2f2;
		height: 100vh;
		width: 100%;
		position: relative;
		text-align: center;
		overflow: hidden;
	}

	#intro .inner {
		opacity: 1;
		position: relative;
		z-index: 2;
	}

	#intro h1 {
		font-size: 2.5rem;
		margin-bottom: 1rem;
		color: rgb(0, 0, 0);
	}

	#intro p {
		color: rgba(0, 0, 0, 0.877);
		font-size: 1rem;
		margin-bottom: 5rem;
	}

	#intro a {
		color: rgb(38, 167, 76);
	}

	#intro a:hover {
		font-weight: 500;
	  }

	.line-1{
		position: relative;
		top: 50%;  
		width: 22em;
		margin: 0 auto;
		border-right: 1.8px solid rgb(0, 0, 0);
		font-size: 180%;
		white-space: nowrap;
		overflow: hidden; 
	}
	
	/* Animation */
	.anim-typewriter{
	  animation: typewriter 4s steps(45) 1s 1 normal both,
	  blinkTextCursor 500ms steps(40) infinite normal;
	}

	@keyframes typewriter{
	  from{width: 0;}
	  to{width: 19.8em;}	  
	}
	
	@keyframes blinkTextCursor{
	  from{border-right-color: rgb(0, 0, 0);}
	  to{border-right-color: transparent;}
	}
