html {
    height: 100%;
}

body {
    margin: 0px;
    height: 100%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

header {
    text-align: center;
}

p {
  color: black;
  font-family: "cursive";
  margin: 0px;
  white-space: nowrap;
}

ul {
  list-style: none;
  word-wrap: break-word;
}

iframe {
  position: relative;
  display: block;
  margin: auto;
  width: 500px;
  top: -50px;
}

#intromsg {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

.usersOnline {
  position:fixed;
  display: inline-block;
  width: 170px;
  height: 200px;
}

/* Only for the "People Online" message. Make better imp. */
.online {
  list-style: none;
  font-weight: bold;
  color: gray;
}

/* Pages */

.pages {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.page {
  height: 100%;
  position: absolute;
  width: 100%;
}

  /* Login Page */

.login.page {
  background-color: #f2f2f2;
}

.login.page .form {
  height: 100px;
  margin-top: -100px;
  position: absolute;

  text-align: center;
  top: 50%;
  width: 100%;
}

.login.page .form .usernameInput {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid rgb(0, 0, 0);
  outline: none;
  padding-bottom: 15px;
  text-align: center;
  width: 400px;
}

.login.page .title {
  font-size: 200%;
}

.login.page .usernameInput {
  font-size: 200%;
  letter-spacing: 3px;
}

.login.page .title, .login.page .usernameInput {
  color: rgb(0, 0, 0);
  font-weight: 100;
}

/* Chat page */

.chat.page {
  display: none;
  background-color: #f2f2f2;
  height: 5000px;
  width: 5000px;
}

/* Font */

.messages {
  font-size: 150%;
  overflow: auto;
  max-height: 150px;
}

.inputMessage {
  font-size: 100%;
}

.log {
  color: gray;
  font-size: 70%;
  margin: 5px;
  text-align: left;
}